*{
    text-decoration: none;
    font-family: "Roboto Flex", serif;
    margin: 0;
    padding: 0;

}

.navbar{ 
    text-decoration: none;
    font-family: "Roboto Flex", serif;
    position: sticky;
    top: 0;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    overflow: hidden;
    
    
}
.social-icon{
    color:rgb(31, 30, 30);
    margin: 10px;
}
.social-icon i{
    margin-right: 25px;
}

.social-icon a :hover{
    color:  #e2f0f0;
}

li{
    list-style: none;
    display: inline-block;
    
}
li a{
    color: rgb(56, 55, 55);
    font-size: 1.1rem;
    font-weight:400;
    margin-right: 100px;
    font-size: 15px;
}

li a:hover{
    color:  #e2f0f0;
}
.header-section{
    /* background-color: rgb(11, 11, 11); */
    height: 600px;
}

.about-me{
    color: #2b2c2c;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    /* margin:10px; */
}



.about-me-text span{
  background: linear-gradient(to right, #1b1e1f, #588997);
  -webkit-text-fill-color: transparent;
  background-clip: text;
    font-size: 25px;
}

.about-me img{  
    margin-top: 15px;
     width: 400px;
     height: 100%;
     margin: 25px;
     border-radius: 100%;
     /* box-shadow:1px 3px 4px rgb(116, 117, 117); */   
 }

 .about-me p{  
margin: 20px;
 }

 .about-me h1{  
    margin: 20px;
    font-weight: 550;
     }

 .header-button{
    background-color: aqua;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 60px;
    font-size: 15px;
    box-shadow:0px 0px 7px 0px rgb(108, 235, 235);
    margin: 10px;
    margin: 20px;
 }
 
 .header-button1{
  background-color: rgb(202, 221, 221);
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 60px;
  font-size: 15px;
  box-shadow:0px 0px 7px 0px rgb(202, 221, 221);
  margin: 10px;
  margin: 20px;
}

 .body-1-section{
    height: 700px;
    /* background-color: rgb(233, 230, 230); */

    padding: 25px;
 }
 
 .body-1-section h2{
    text-align: center;
 }


.skills{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Technologies{
/* background-color: rgb(233, 230, 230); */
text-align: center;
margin: 0;
padding: 0;

}
.Technologies h1{
  margin-top: 90px;
    margin-bottom: 20px;
    font-weight: 500;
    background: linear-gradient(to right, #0b0b0b, #dbe6e9);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.git img{
  height: 115px;

}

.tech-grid{
display: flex;
margin-left: 50px;
align-items: center;
justify-content: space-around;
text-align: center;
}

.Technologies img{
width: 150px;

}

#edu-p{
  font-size: 20px;
}

#edu-compsci{
  font-size: 15px;
  margin-top: 15px;
  font-weight: 300;
}

#years{
  font-size: 20px;
  margin-top: 15px;

}

  .real-about-me{
    align-items: center;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .real-about-me h1{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0px;
    background: linear-gradient(to right, #1b1e1f, #588997);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  }

  .real-about-me span{
    font-size: 40px;
    font-weight: 500;
  }

  .real-about-me img{
    width: 500px;
    height: 400px;
  }

  .img-text{
    display: flex;
  }

  .img-text .Education{
    border: 5px ;
    border-radius: 20px;
    height:200px ;
    width: 450px;
    margin: 20px;
    align-items: center;
    text-align: center;
    background-color: rgba(139, 174, 189, 0.2);

    
  }

  .explanation{
    text-align: justify;
  text-justify: inter-word;
  margin-left: 70px;
  margin-right: 70px;
  font-weight: 600;

  }
  .text1{
    margin: 70px;
    display: grid;
  }
  .text2{
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }
.Education p{
  /* margin-top: 15px; */
  justify-content: left;
}
.Education i{
  margin-top: 15px;
}
  .text2{
    display: flex;
  }

  .certifications{
    border: 1px ;
    border-radius: 20px;
    height:200px ;
    width: 450px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(139, 174, 189, 0.2);

  }
 