*{
    text-decoration: none;
    font-family: "Roboto Flex", serif;
    margin: 0;
    padding: 0;

}

.navbar{ 
    text-decoration: none;
    font-family: "Roboto Flex", serif;
    position: sticky;
    top: 0;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    overflow: hidden;
    
    
}
.social-icon{
    color:rgb(31, 30, 30);
    margin: 10px;
}
.social-icon i{
    margin-right: 25px;
}

.social-icon a :hover{
    color:  #e2f0f0;
}

li{
    list-style: none;
    display: inline-block;
    
}
li a{
    color: rgb(56, 55, 55);
    font-size: 1.1rem;
    font-weight:400;
    margin-right: 100px;
    font-size: 15px;
}

li a:hover{
    color:  #e2f0f0;
}
.header-section{
    /* background-color: rgb(11, 11, 11); */
    height: 700px;
}

.about-me{
    color: #2b2c2c;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    /* margin:10px; */
}



.about-me-text span{
    color:aqua;
    font-size: 25px;
}

.about-me img{  
    margin-top: 15px;
     width: 400px;
     height: 100%;
     margin: 25px;
     border-radius: 100%;
     /* box-shadow:1px 3px 4px rgb(116, 117, 117); */   
 }

 .about-me p{  
margin: 20px;
 }

 .about-me h1{  
    margin: 20px;
     }

 .header-button{
    background-color: aqua;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 60px;
    font-size: 15px;
    box-shadow:0px 0px 7px 0px rgb(108, 235, 235);
    margin: 10px;
    margin: 20px;
 }
 
 .header-button1{
  background-color: rgb(202, 221, 221);
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 60px;
  font-size: 15px;
  box-shadow:0px 0px 7px 0px rgb(202, 221, 221);
  margin: 10px;
  margin: 20px;
}

 .body-1-section{
    height: 700px;
    /* background-color: rgb(233, 230, 230); */

    padding: 25px;
 }
 
 .body-1-section h2{
    text-align: center;
 }


.skills{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Technologies{
/* background-color: rgb(233, 230, 230); */
text-align: center;
margin: 0;
padding: 0;

}
.Technologies h1{
  margin-top: 90px;
    margin-bottom: 20px;
    font-weight: 500;
    background: linear-gradient(to right, #0b0b0b, #dbe6e9);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.git img{
  height: 115px;

}

.tech-grid{
display: flex;
margin-left: 50px;
align-items: center;
justify-content: space-around;
text-align: center;
}

.Technologies img{
width: 150px;

}

#edu-compsci{
  font-size: 20px;

  margin-top: 15px;
}

#years{
  font-size: 20px;
  margin-top: 15px;

}

  .real-about-me{
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .real-about-me h1{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .real-about-me span{
    font-size: 40px;
    font-weight: 500;
  }

  .real-about-me img{
    width: 500px;
    height: 400px;
  }

  .img-text{
    display: flex;
  }

  .img-text .Education{
    border: 1px ;
    border-radius: 20px;
    height:200px ;
    width: 450px;
    margin: 20px;
    align-items: center;
    text-align: center;
    background-color: rgba(139, 174, 189, 0.2);
    
  }

  .explanation{
    text-align: justify;
  text-justify: inter-word;
  margin-left: 50px;
  margin-right: 50px;
  }
  .text1{
    margin: 30px;
  }
  .text2{
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }
.Education p{
  /* margin-top: 15px; */
  justify-content: left;
}
.Education i{
  margin-top: 15px;
}
  .text2{
    display: flex;
  }

 
.container {
    position: relative;
    max-width: 500px;
    width: 100%;
  
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
  }
  
  .container .skill-box {
    width: 100%;
    margin: 25px 0;
  }
  
  .skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
  }
  
  .skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
  }
  
  .skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #04a0ab;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
  }
  
  .skill-per.html {
     /*progreso de las diferentes lenguajes*/
    width: 70%;
    animation-delay: 0.1s;
  }
  
  .skill-per.figma {
    /*progreso de las diferentes lenguajes*/
   width: 50%;
   animation-delay: 0.1s;
  }
  
  .skill-per.react {
    /*progreso de las diferentes lenguajes*/
   width: 50%;
   animation-delay: 0.1s;
  }
  
  .skill-per.css {
           /*progreso de las diferentes lenguajes*/
    width: 70%;
    animation-delay: 0.1s;
  }
  
  .skill-per.javascript {
        /*progreso de las diferentes lenguajes*/
    width: 65%;
    animation-delay: 0.2s;
  }
  
  .skill-per.nodejs {
        /*progreso de las diferentes lenguajes*/
    width: 30%;
    animation-delay: 0.3s;
  }
  
  .skill-per.python {
    /*progreso de las diferentes lenguajes*/
  width: 70%;
  animation-delay: 0.3s;
  }
  
  .skill-per.react-native {
    /*progreso de las diferentes lenguajes*/
  width: 50%;
  animation-delay: 0.3s;
  }
  
  
  .skill-per.SQL {
    /*progreso de las diferentes lenguajes*/
  width: 75%;
  animation-delay: 0.3s;
  }
  
  
  @keyframes progress {
    0% {
      width: 0;
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #04a0ab;
    z-index: 1;
  }
  
  .tooltip::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #04a0ab;
    transform: translateX(-50%) rotate(45deg);
  }
  